<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include('../../partials/head', {pageTitle: "GOL Dashboard - SOPs"}) %>
    <link rel="stylesheet" href="/styles/dashboard.css">
    <script defer src="/scripts/dashsop.js"></script>
</head>

<%- include('../../partials/headernav', {pageTitle: "Dashboard"}) %>

<body>
    <main>
        <% if (typeof editSuccess !== 'undefined') { %>
        <div class="container text-center">
            <% if (editSuccess == 1) { %>
            <div class="alert alert-success" role="alert"><span style="font-weight: bold;">EDIT</span> SOP Successfully
                Updated!</div>
            <% } else if (editSuccess == 0){ %>
            <div class="alert alert-danger" role="alert"><span style="font-weight: bold;">EDIT</span> SOP Failed to
                Update!</div>
            <% } %>
        </div>
        <% } %>

        <% if (typeof createSuccess !== 'undefined') { %>
        <div class="container text-center">
            <% if (createSuccess == 1) { %>
            <div class="alert alert-success" role="alert"><span style="font-weight: bold;">EDIT</span> SOP Successfully
                Created!</div>
            <% } else if (createSuccess == 0){ %>
            <div class="alert alert-danger" role="alert"><span style="font-weight: bold;">EDIT</span> SOP Failed to be
                Created!</div>
            <% } %>
        </div>
        <% } %>

        <%- include('../../partials/dashnav', {pageName: "SOPs"}) %>

        <div class="modal fade" id="editSopModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit SOP</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/data/updateSOP" method="POST" id="editSopForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="title">Title</label><br>
                                <input type="text" class="form-control" id="sopTitle" name="title"
                                    placeholder="Document Title">
                            </div>
                            <div class="form-group">
                                <label for="authors">Author(s)</label><br>
                                <input type="text" class="form-control" id="authors" name="Authors"
                                    placeholder="Document Title">
                                    <small class="text-muted">If more than one author, the field <strong>MUST</strong> be a
                                    comma separated list of member's IDs.</small>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label><br>
                                <textarea class="form-control editor" id="description" name="description" rows="5"
                                    placeholder="Document Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="prefix">Document Type</label><br>
                                <!-- <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Rank Prefix"> -->
                                <select name="docType" id="documentType" class="form-select">
                                    <option value="SOP">SOP</option>
                                    <option value="Guide">Guide</option>
                                    <option value="Concept">Concept</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="insignia">Document ID</label><br>
                                <input type="text" class="form-control" id="documentID" name="docId">
                                <small class="text-muted">This can be found in the URL of the Google Doc.
                                    (Usually a long bunch of random characters)</small>
                            </div>
                            <div class="form-group">
                                <label class="form-check-label" for="aacSOP">Is this an AAC SOP?</label>
                                <input type="checkbox" class="form-check-input" id="aacSOP" name="aacSOP">
                            </div>
                            <div class="form-group">
                                <label class="form-check-label" for="restrictedDoc">Restricted Document?</label>
                                <input type="checkbox" class="form-check-input" id="restrictedDoc"
                                    name="restrictedDoc"><br>
                                <small class="text-body-secondary">The document will only be available to logged in
                                    <span style="font-weight: bold;">members</span>.</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                onclick="closeModal('editSopModal')">Close</button>
                            <button type="submit" class="btn btn-primary" id="submitSopEditBtn">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createSopModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create SOP</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/data/createSOP" method="POST" id="createSopForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="title">Title</label><span style="color: red;"> *</span><br>
                                <input type="text" class="form-control" id="newsopTitle" name="newtitle"
                                    placeholder="Document Title">
                            </div>
                            <div class="form-group">
                                <label for="authors">Authors</label><span style="color: red;"> *</span><br>
                                <input type="text" class="form-control" id="newauthors" name="newauthors"
                                    placeholder="Document Author(s)">
                                <small class="text-body-secondary">If more than one author, the field <strong>MUST</strong> be a
                                    comma separated list of member's IDs.</small>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label><span style="color: red;"> *</span><br>
                                <textarea class="form-control editor" id="newdescription" name="newdescription" rows="5"
                                    placeholder="Document Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="prefix">Document Type</label><span style="color: red;"> *</span><br>
                                <select class="form-select" name="newdocType" id="newdocumentType">
                                    <option value="SOP">SOP</option>
                                    <option value="Guide">Guide</option>
                                    <option value="Concept">Concept</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="insignia">Document ID</label><span style="color: red;"> *</span><br>
                                <input type="text" class="form-control" id="newdocumentID" name="newdocId">
                                <small class="text-body-secondary">This can be found in the URL of the Google Doc.
                                    (Usually a long bunch of random characters)</small>
                            </div>
                            <div class="form-group">
                                <label class="form-check-label" for="aacSOP">Is this an AAC SOP?</label>
                                <input type="checkbox" class="form-check-input" id="newaacSOP" name="newaacSOP">
                            </div>
                            <div class="form-group">
                                <label class="form-check-label" for="newrestrictedDoc">Restricted Document?</label>
                                <input type="checkbox" class="form-check-input" id="newrestrictedDoc"
                                    name="newrestrictedDoc"><br>
                                <small class="text-body-secondary">The document will only be available to logged in
                                    <span style="font-weight: bold;">members</span>.</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                onclick="closeModal('createSopModal')">Close</button>
                            <button type="submit" class="btn btn-primary" id="submitSopCreateBtn">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="container buttonsDiv">
                <button type="button" class="btn btn-primary" onclick="openCreateModal()">New SOP</button>
                <button type="button" class="btn btn-secondary" onclick="location.reload();">Refresh</button>
            </div>
            <table id="sopsTable" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author(s)</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                        <th scope="col">Document ID</th>
                        <th scope="col">AAC SOP</th>
                        <th scope="col">Restricted</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="sopsTableBody">
                    <!-- Rows will be populated here by JavaScript -->
                    <tr>
                        <th scope="row">1</th>
                        <td>Urban</td>
                        <td>Filth</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi itaque minus facilis
                            ratione similique beatae accusamus ullam, vel quia est ipsam eveniet esse voluptas veritatis
                            repudiandae, nihil blanditiis praesentium culpa.</td>
                        <td>SOP</td>
                        <td>ID</td>
                        <td>True</td>
                        <td>
                            <button class="btn btn-primary" onclick="openEditModal(1)">Edit</button>
                            <button class="btn btn-danger" onclick="deleteSOP(1)">Delete</button>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Vehicle Commander</td>
                        <td>Filth</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi itaque minus facilis
                            ratione similique beatae accusamus ullam, vel quia est ipsam eveniet esse voluptas veritatis
                            repudiandae, nihil blanditiis praesentium culpa.</td>
                        <td>SOP</td>
                        <td>ID</td>
                        <td>True</td>
                        <td>
                            <button class="btn btn-primary" onclick="openEditModal(2)">Edit</button>
                            <button class="btn btn-danger" onclick="deleteSOP(2)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
        <script defer>
            var isloggedIn = "<%= loggedin %>"
        </script>
        <script src="/scripts/checkLogged.js"></script>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>
</body>

</html>