<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <%- include('../../partials/head', {pageTitle: "GOL Dashboard - Ranks"}) %>
  <link rel="stylesheet" href="/styles/dashboard.css">
  <script defer src="/scripts/dashranks.js"></script>
</head>

<%- include('../../partials/headernav', {pageTitle: "Dashboard", loggedin: userLogged, username: username}) %>

<body>
  <main>
    <% if (typeof editSuccess !== 'undefined') { %>
    <div class="container text-center">
      <% if (editSuccess == 1) { %>
      <div class="alert alert-success" role="alert"><span style="font-weight: bold;">EDIT</span> Rank Successfully
        Updated!</div>
      <% } else if (editSuccess == 0){ %>
      <div class="alert alert-danger" role="alert"><span style="font-weight: bold;">EDIT</span> Rank Failed to
        Update!</div>
      <% } %>
    </div>
    <% } %>

    <% if (typeof createSuccess !== 'undefined') { %>
    <div class="container text-center">
      <% if (createSuccess == 1) { %>
      <div class="alert alert-success" role="alert"><span style="font-weight: bold;">EDIT</span> Rank Successfully
        Created!</div>
      <% } else if (createSuccess == 0){ %>
      <div class="alert alert-danger" role="alert"><span style="font-weight: bold;">EDIT</span> Rank Failed to be
        Created!</div>
      <% } %>
    </div>
    <% } %>

    <%- include('../../partials/dashnav', {pageName: "Ranks"}) %>

    <div class="modal fade" id="editRankModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Rank</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/data/updateRank" method="POST" id="editRankForm">
            <div class="modal-body">
              <div class="form-group">
                <label for="uname">Name</label><br>
                <input type="text" class="form-control" id="rankname" name="rankname" placeholder="Rank Name">
              </div>
              <div class="form-group">
                <label for="prefix">Prefix</label><br>
                <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Rank Prefix">
              </div>
              <div class="form-group">
                <label for="description">Description</label><br>
                <textarea class="form-control" id="description" name="description" rows="5"
                  placeholder="Rank Description"></textarea>
              </div>
              <div class="form-group">
                <label for="insignia">Insignia</label><br>
                <input type="text" class="form-control" id="insignia" name="insignia"
                  placeholder="Rank Insignia URL">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" onclick="closeModal('editRankModal')">Close</button>
              <button type="submit" class="btn btn-primary" id="submitRankEditBtn">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="container buttonsDiv">
        <!-- <button type="button" class="btn btn-primary" onclick="openCreateModal()">
          New Rank
        </button> -->
        <button type="button" class="btn btn-secondary" onclick="location.reload();">Refresh</button>
      </div>
      <table id="ranksTable" class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Prefix</th>
            <th scope="col">Description</th>
            <th scope="col">Insignia</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="ranksTableBody">
          <!-- Rows will be populated here by JavaScript -->
          <tr>
            <th scope="row">1</th>
            <td>First Lieutenant</td>
            <td>Lt</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reiciendis voluptate voluptas culpa maxime itaque quaerat neque similique dolore aliquam at, eveniet sed quidem fugit aliquid consectetur autem illo sapiente.</td>
            <td><img src="" alt=""></td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>Second Lieutenant</td>
            <td>2Lt</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reiciendis voluptate voluptas culpa maxime itaque quaerat neque similique dolore aliquam at, eveniet sed quidem fugit aliquid consectetur autem illo sapiente.</td>
            <td><img src="" alt=""></td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script defer>
      var isloggedIn = "<%= loggedin %>"
    </script>
    <script src="/scripts/checkLogged.js"></script>
  </main>

  <footer>
    <%- include('../../partials/footer') %>
  </footer>
</body>

</html>