<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <%- include('../../partials/head', {pageTitle: "GOL Dashboard - Members"}) %>

  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="/styles/dashboard.css">
  
  <script defer src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
  <script defer src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.js"></script>
  <script defer src="/scripts/dashusertable.js"></script>

  <style>

    .buttonsDiv {
      margin-bottom: 3%;
    }

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>

<%- include('../../partials/headernav', {pageTitle: "Dashboard", loggedin: userLogged, username: username}) %>

<body>
  <main>
    <% if (typeof editSuccess !== 'undefined') { %>
    <div class="container text-center">
      <% if (editSuccess == 1) { %>
      <div class="alert alert-success" role="alert"><span style="font-weight: bold;">EDIT</span> Member Successfully
        Updated!</div>
      <% } else if (editSuccess == 0){ %>
      <div class="alert alert-danger" role="alert"><span style="font-weight: bold;">EDIT</span> Member Failed to
        Update!</div>
      <% } %>
    </div>
    <% } %>

    <% if (typeof createSuccess !== 'undefined') { %>
    <div class="container text-center">
      <% if (createSuccess == 1) { %>
      <div class="alert alert-success" role="alert"><span style="font-weight: bold;">EDIT</span> Member Successfully
        Created!</div>
      <% } else if (createSuccess == 0){ %>
      <div class="alert alert-danger" role="alert"><span style="font-weight: bold;">EDIT</span> Member Failed to be
        Created!</div>
      <% } %>
    </div>
    <% } %>

    <%- include('../../partials/dashnav', {pageName: "Members"}) %>

    <div class="modal fade" id="editUserModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/data/updateMember" method="POST" id="editUserForm">
            <div class="modal-body">
              <div class="form-group">
                <label for="memberid">ID</label>
                <input type="text" class="form-control" id="memberid" name="memberid" placeholder="ID">
              </div>
              <div class="form-group">
                <label for="uname">Name</label><br>
                <input type="text" class="form-control" id="uname" name="uname" placeholder="Name"
                  aria-describedby="help-name-text">
                <small class="form-text" id="help-name-text">This should match the username on Discord (excl. The rank
                  prefix)</small>
              </div>
              <div class="form-group">
                <label for="discordId">Discord ID</label><br>
                <input type="text" class="form-control" id="discordId" name="discordId" placeholder="Discord ID"
                  aria-describedby="help-discordId-text">
                <small class="form-text" id="help-discordId-text">This should match the Discord ID of the user</small>
              </div>
              <div class="form-group">
                <label for="rank">Rank</label>
                <select class="form-select" name="rank" id="rank">
                </select>
              </div>
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Country">
              </div>
              <div class="form-group">
                <label for="reporting">Reports To</label>
                <select name="reporting" id="reporting" class="form-select">
                  <option value="None" selected>None</option>
                  <!-- Options will be populated by JavaScript -->
                </select>
                <small class="text-body-secondary">If the member is a reserve, they must report to another
                  reservist.</small>
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-select" name="status" id="status">
                  <option value="Active">Active</option>
                  <option value="LOA">LOA</option>
                  <option value="Reserve">Reserve</option>
                </select>
              </div>
              <div class="form-group">
                <label for="joined">Joined Date</label>
                <input type="date" class="form-control" name="joined" id="joined">
              </div>
              <div class="form-group">
                <label for="promoDate">Promotion Date</label>
                <input type="date" class="form-control" name="promoDate" id="promoDate">
              </div>
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="btn btn-secondary" onclick="closeModal('editUserModal')">Close</button>
              <button type="submit" class="btn btn-primary" id="editUserModalSubmit">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="confirmModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Action</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="confirmModalBody">
            <p id="confirmMessage">Are you sure you want to perform this action?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="confirmAction">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="createUserModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/data/createMember" method="POST">
            <div class="modal-body">
              <div class="form-group">
                <label for="new-uname">Name</label>
                <input required type="text" class="form-control" id="new-uname" name="newuname" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="new-discordId">Discord ID</label><br>
                <input type="text" class="form-control" id="new-discordId" name="newdiscordId" placeholder="Discord ID"
                  aria-describedby="help-new-discordId-text">
                <small class="form-text" id="help-new-discordId-text">This should match the Discord ID of the user</small>
              </div>
              <div class="form-group">
                <label for="new-rank">Rank</label>
                <select required name="newrank" id="new-rank">
                </select>
              </div>
              <div class="form-group">
                <label for="new-country">Country</label>
                <input required type="text" class="form-control" id="new-country" name="newcountry"
                  placeholder="Country">
              </div>
              <!-- <div class="form-group">
                <label for="new-reporting">Reports To</label>
                <input required type="text" class="form-control" id="new-reporting" name="newreporting"
                  placeholder="Reports To">
              </div> -->
              <div class="form-group">
                <label for="new-reporting">Reports To</label>
                <select name="reporting" id="new-reporting" class="form-select">
                  <option value="None" selected>None</option>
                  <!-- Options will be populated by JavaScript -->
                </select>
                <small class="text-body-secondary">If the member is a reserve, they must report to another
                  reservist.</small>
              </div>
              <div class="form-group">
                <label for="new-joined">Joined Date</label>
                <input required type="date" class="form-control" name="newjoined" id="new-joined">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal('createUserModal')">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="container buttonsDiv">
        <button type="button" class="btn btn-primary dashboard-extra-buttons" onclick="openCreateModal()">
          New Member
        </button>
        <button type="button" id="updateAttendanceButton" class="btn btn-primary dashboard-extra-buttons"
          onclick="updateMemberAttendance()">Force Attendance Refresh</button>
        <button type="button" class="btn btn-secondary" onclick="location.reload();">Refresh</button>
      </div>

      <!-- <div class="row">
        <div class="col-sm">
          <input type="text" name="searchTable" id="searchMemberTableInput" class="form-control my-3"
            placeholder="Search Members by Name..." onkeyup="searchMemberTable()">
        </div>
      </div> -->
      <table id="membersTable" class="table table-dark table-striped table-hover">
        <thead>
          <tr style="background-color: rgb(86, 108, 130);">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Rank</th>
            <th scope="col">Country</th>
            <th scope="col">Reports To</th>
            <th scope="col">Status</th>
            <th scope="col">Joined</th>
            <th scope="col">Promoted</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="membersTableBody">
          <!-- Rows will be populated here by JavaScript -->
          <tr>
            <th scope="row">1</th>
            <td>John Doe</td>
            <td>Corporal</td>
            <td>USA</td>
            <td>Kerry Smith</td>
            <td>Active</td>
            <td>2023-01-01</td>
            <td>2023-02-01</td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>Oksman</td>
            <td>Lieutenant</td>
            <td>Sweden</td>
            <td>None</td>
            <td>Active</td>
            <td>2016-01-01</td>
            <td>2018-02-01</td>
            <td>
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script defer>
      var isloggedIn = "<%= loggedin %>"
    </script>
    <script src="/scripts/checkLogged.js"></script>
  </main>

  <footer>
    <%- include('../../partials/footer') %>
  </footer>
</body>

</html>