<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <%- include('../partials/head', {pageTitle: "GOL Dashboard"}) %>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>

<%- include('../partials/headernav', {pageTitle: "Dashboard"}) %>


<body>
  <main>
    <%- include('../partials/dashnav', {pageName: "Dashboard"}) %>

    <div class="modal modal-lg fade" id="resetPasswordModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/data/resetPassword" method="POST" id="resetPasswordForm">
            <div class="modal-body">
              <div class="row mx-3 justify-content-center text-center">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="newPassword">Enter New Password: </label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                      placeholder="Password" required>
                    <span class="form-text"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="confirmPassword">Confirm New Password: </label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                      placeholder="Password" required>
                    <span class="form-text">
                      <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <small class="form-help form-text">Password must contain at least 8 characters.<br>Password must contain:<ul><li>One Uppercase character.</li><li>One lowercase character.</li><li>One number.</li></ul></small>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" onclick="closeModal('resetPasswordModal')">Close</button>
              <button type="submit" class="btn btn-primary" id="resetPasswordSubmit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container my-3 py-4 border-bottom">
      <div class="row text-center">
        <div class="col">
          <button class="btn btn-primary dashboard-extra-buttons" id="changePasswordBtn" onclick="openModal('resetPasswordModal')">Change
            Password</button>
        </div>

        <div class="col">
          <button class="btn btn-primary dashboard-extra-buttons" id="updateVideosBtn" onclick="updateLandingVideos()" title="This will force the videos for the landing page to be updated.">Force Update Videos</button>
        </div>
      </div>
    </div>

    <div class="container my-3 py-2 border-bottom" id="bubble-dash">
      <div class="row">
        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Promotions Available</span>
            <div class="digit">
              <span id="promotions">#</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Next Promotion</span>
            <div class="digit">
              <span id="next-promotion">###</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Active Members</span>
            <div class="digit">
              <span id="active-members">##</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Members On Leave (L.O.A)</span>
            <div class="digit">
              <span id="loas">##</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Number of Recruits</span>
            <div class="digit-secondary">
              <span id="recruits">3</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Next Server Payment</span>
            <div class="digit-secondary">
              <span id="nextServerPayment">## Days</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Number of Leaders</span>
            <div class="digit-secondary">
              <span id="leaders">##</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="info-bubble">
            <span class="bubble-text">Replays Available</span>
            <div class="digit-secondary">
              <span id="replays">##</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="info-bubble">
            <span class="bubble-text">Next Training</span>
            <div class="digit longDigit">
              <span id="nextTraining">TBA</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="info-bubble">
            <span class="bubble-text">Next Mission</span>
            <div class="digit longDigit">
              <span id="nextMission">TBA</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-5 py-5">
      <div class="row">
        <div class="col-md-5" id="promotions-col">
          <h2 class="text-center mb-4">Member Promotions</h2>
          <table class="table table-dark table-striped table-hover shadow">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Current Rank</th>
                <th scope="col">Next Rank</th>
                <th scope="col">Remaining Events</th>
                <!-- <th scope="col">Last Active</th> -->
              </tr>
            </thead>
            <tbody id="promotions-list">
              <!-- Member list will be populated here -->
            </tbody>
          </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5" id="loas-col">
          <h2 class="text-center mb-4">Member LOAs</h2>
          <table class="table table-dark table-striped table-hover shadow" id="loas-table">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Current Rank</th>
                <th scope="col">LOA Start Date</th>
                <th scope="col">LOA End Date</th>
              </tr>
            </thead>
            <tbody id="loa-list">
              <!-- LOA list will be populated here -->
            </tbody>
            </table>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="/scripts/populateDash.js"></script>
    <script defer>
      var isloggedIn = "<%= loggedin %>"
    </script>
    <script src="/scripts/checkLogged.js"></script>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>