<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta name="description" content="Official website of the Guerrillas of Liberation Arma 3 Realism MilSim Unit.">
  <meta property="og:title" content="Guerrillas of Liberation - Home">
  <meta property="og:description"
    content="Official home page of the Guerrillas of Liberation Arma 3 Realism MilSim Unit.">
  <meta property="og:image" content="/img/Airbourne.webp">
  <meta property="og:card" content="/img/parker-img.png">
  <%- include('../partials/head', {pageTitle: "GOL Home"}) %>

  <style>
    #stream-3-link>img {
      height: 15rem;
      width: auto;
    }

    .infoHeading {
      letter-spacing: 0.2rem;
      font-weight: 350;
    }

    .ul-list>li {
      color: var(--blu-body-color);
    }

    #motorizedImg,
    #mechanizedImg,
    #airAssaultImg,
    #infantryImg {
      width: auto;
      height: 19rem;
    }

    .composition-card {
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .composition-card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .imgIcon {
      height: 3rem;
      width: auto;
    }

    /* Must stretch from end to end*/
    #composition-showcase {
      background: url('/img/AirAssault.webp') no-repeat center center;
      background-size: cover;
    }

    #composition-showcase .container {
      background-color: rgba(0, 0, 0, 0.151);
      filter: drop-shadow(2px 4px 6px rgb(34, 34, 34));
      border-radius: 0.5rem;
    }
  </style>
</head>

<%- include('../partials/headernav', {pageTitle: "Home", loggedin: userLogged, username: username}) %>

<body>

  <div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <main>
    <div class="container" id="hero">
      <div class="container border-bottom text-center">
        <div class="row px-4" id="front-hero">
          <h1 id="mainTitle">
            Guerrillas of Liberation</h1>

          <div class="col-lg-6 mx-auto">
            <p class="mb-3">
              <abbr title="Established 2003" class="initialism">est. 2003</abbr>
            </p>
            <p class="lead mb-5 scaleText">
              An international Arma community with over 20 years of experience!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col mx-auto">
            <div class="justify-content-center mb-3">
              <% if (username !== 'undefined' && username) { %>
              <div class="welcome">
                <h2>Welcome, <span class="sec-highlight"><%= username %></span></h2>
              </div>
              <% } else { %>
              <h2>OUR NEXT OPERATION STARTS SOON</h2>
              <hr style="width:25%;text-align:center;margin-left:37.5%">
              <h1 id="timeUntilMission"></h1>
              <% } %>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" id="frontButtons">
                <% if (userRole === "member" || userRole === "moderator" || userRole === "admin") { %>
                <button type="button" class="btn btn-primary btn-lg px-6 py-3"><a href="/mission-orbat/select">Next
                    Operation
                    ORBAT</a></button>
                <% if (userRole === "admin" || userRole === "moderator") { %>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 btn-secondary"><a
                    href="/dashboard">Dashboard</a></button>
                <% } %>
                <% } else { %>
                <button type="button" class="btn btn-tertiary btn-lg px-4 gap-3"><a href="/discord"><i
                      class="bi bi-clipboard-check"></i> Join Us</a></button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 btn-secondary"><a href="/about">About
                    Us</a></button>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container" id="arma-logos-container">
            <div class="row">
              <div class="col arma-logos-main">
                <img src="/img/a3_logo.png" alt="ArmA3" />
              </div>
            </div>
            <div class="row">
              <div class="col arma-logos">
                <img src="/img/opf_logo.png" alt="OperationFlashpoint" />
                <img src="/img/acwa_logo.png" alt="ArmACWA" />
                <img src="/img/a2_logo.png" alt="ArmA2" />
                <img src="/img/ar_logo.png" alt="ArmAReforger" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="margin-top: 1%;">
          <a href="#featured-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-down-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
            </svg></a>
        </div>
      </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col hidden">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5" />
            </svg>
          </div>
          <h3 class="infoHeading">Weekly Operations</h3>
          <p>We conduct operations every Sunday night at 5pm GMT and Thursday night at 7pm GMT.<br>Our missions are
            created in-house using our own framework built over decades of work and our missions also put an emphasis
            on realism, action and narrative.</p>
        </div>
        <div class="feature col hidden">
          <div class="feature-icon mb-3 d-inline-flex align-items-center justify-content-center fs-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-airplane-fill" viewBox="0 0 16 16">
              <path
                d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849" />
            </svg>
          </div>
          <h3 class="infoHeading">Dedicated Air Wing</h3>
          <p>
            As well as an infantry element. We also house an air wing which focuses on both rotary and fixed-wing
            aircraft support, providing logistical and close air support to ground forces.
            These members are trained to a high standard and are often called upon to provide vital support during our
            operations.
          </p>
        </div>
        <div class="feature col hidden">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack"
              viewBox="0 0 16 16">
              <path
                d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z" />
              <path
                d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z" />
            </svg>
          </div>
          <h3 class="infoHeading">Modifications</h3>
          <p>We use various mods from the community including ACE and TFAR during our operations to enhance the
            experience. We have a large customised framework for our Arma 3 missions that enhance gameplay.</p>
          <button class="btn btn-tertiary">
            <a href="/mods" class="icon-link">
              Check out our Modlist <span style="font-weight: 200;">></span>
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="my-5" id="featured-4">
      <div class="p-5 text-center bg-body-tertiary" id="composition-showcase">
        <div class="container py-5">
          <h2>What Sets us Apart?</h2>
          <h1 class="text-body-emphasis">Variety</h1>
          <p class="col-lg-8 mx-auto lead">
            We pride ourselves on providing our members with a diverse range of factions and compositions
            to play as,
            with our gameplay variety being one of our highest priorities.<br>
            Roles are not fixed, allowing members to try different roles every mission.<br><br>
            Tired of the same old infantry patrol? How about participating in a motorized convoy, spearheading with a
            mechanized infantry IFV, or coordinating an air assault!
          </p>
        </div>
      </div>
    </div>

    <div class="container composition-cards my-5">
      <div class="row feature mb-4 text-center">
        <h1>Compositions</h1>
        <p class="lead text-center">So what exactly do we mean by a variety of compositions?<br>Well, to name a few...</p>
      </div>
      <div class="row">
        <div class="col-md hidden">
          <div class="card shadow-md composition-card">
            <div class="card-body">
              <h3 class="card-title">
                <img src="/img/flyinghellfish.webp" alt="hellfish" class="imgIcon">
                Infantry</h3>
              <p class="card-text">Classic infantry gameplay with a focus on teamwork and tactics.</p>
            </div>
            <img src="/img/Fields.webp" alt="Infantry" id="infantryImg">
          </div>
        </div>

        <div class="col-md hidden">
          <div class="card shadow-md composition-card">
            <div class="card-body">
              <h3 class="card-title"><img src="/img/flyinghellfish.webp" alt="hellfish" class="imgIcon"> Mechanized</h3>
              <p class="card-text">Hop into the back of an IFV to support a spearhead push through enemy lines!</p>
            </div>
            <img src="/img/Mechanized.webp" alt="Mechanized" id="mechanizedImg">
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md hidden">
          <div class="card shadow-md composition-card">
            <div class="card-body">
              <h3 class="card-title"><img src="/img/flyinghellfish.webp" alt="hellfish" class="imgIcon"> Motorized</h3>
              <p class="card-text">Take part in fast-paced motorized operations, utilizing a variety of vehicles to
                outmaneuver the enemy!</p>
            </div>
            <img src="/img/Motorized.webp" alt="Motorized" id="motorizedImg">
          </div>
        </div>

        <div class="col-md hidden">
          <div class="card shadow-md composition-card">
            <div class="card-body">
              <h3 class="card-title"><img src="/img/armyaircorps.webp" alt="AAC" class="imgIcon"> Air Assault & Airbourne</h3>
              <p class="card-text">Ready to take to the skies? Insert into a hot HLS behind enemy lines or deploy in a high altitude
                drop!</p>
            </div>
            <img src="/img/Airbourne.webp" alt="Air Assault" id="airAssaultImg">
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="second-feature">
      <div class="container px-4 py-5 border-bottom mb-5" id="icon-grid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start hidden">
            <div class="feature">
              <div class="feature-icon mb-2 d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi icon-secondary" viewBox="0 0 16 16">
                  <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                </svg>
              </div>
              <h4 class=" mb-0 text-body-emphasis">Fast-Paced Gameplay</h4>
              <p>Bored of other milsim groups moving at a snail's pace? We deliver quicker and more intense gameplay!</p>
            </div>
          </div>
          <div class="col d-flex align-items-start hidden">
            <div class="feature">
              <div class="feature-icon mb-2 d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi icon-secondary" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z" />
                </svg>
              </div>
              <h4 class=" mb-0 text-body-emphasis">Non-Restrictive Ranks</h4>
              <p>The main purpose of ranks are to reflect a member's experience and knowledge, nothing more. Everyone
                has a voice, regardless of rank.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start hidden">
            <div class="feature">
              <div class="feature-icon d-inline-flex mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-hdd-stack-fill icon-secondary" viewBox="0 0 16 16">
                  <path
                    d="M2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1" />
                </svg>
              </div>
              <h4 class="mb-0 text-body-emphasis">Dedicated Servers</h4>
              <p>Our dedicated game and TeamSpeak servers are available 24 hours a day for our members to have a chat or
                play
                some games together. The use of our game servers for games other than ArmA is permitted for any
                interested
                members.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start hidden">
            <div class="feature">
              <div class="feature-icon mb-2 d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi icon-secondary bi-clock-history" viewBox="0 0 16 16">
                  <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                  <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                  <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                </svg>
              </div>
              <h4 class="mb-0 text-body-emphasis">Long Established Group</h4>
              <p>With over 20 years of experience, we have built a strong community of dedicated members. While members have come and gone, our core values and commitment to teamwork have remained constant.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start hidden">
            <div class="feature">
              <div class="feature-icon mb-2 d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi icon-secondary" viewBox="0 0 16 16">
                  <path
                    d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0M2 3v7h12V3z" />
                </svg>
              </div>
              <h3 class=" mb-0 fs-4 text-body-emphasis">Dedicated Training</h3>
              <p>In order for our members to be familiar and up to speed with both technical and tactical knowledge, we
                have dedicated trainings on a variety of subjects.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start hidden">
            <!-- <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#toggles2"></use>
              </svg> -->
            <div class="feature">
              <div class="feature-icon mb-2 d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi icon-secondary" viewBox="0 0 16 16">
                  <path
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855A8 8 0 0 0 5.145 4H7.5zM4.09 4a9.3 9.3 0 0 1 .64-1.539 7 7 0 0 1 .597-.933A7.03 7.03 0 0 0 2.255 4zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a7 7 0 0 0-.656 2.5zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5zM8.5 5v2.5h2.99a12.5 12.5 0 0 0-.337-2.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5zM5.145 12q.208.58.468 1.068c.552 1.035 1.218 1.65 1.887 1.855V12zm.182 2.472a7 7 0 0 1-.597-.933A9.3 9.3 0 0 1 4.09 12H2.255a7 7 0 0 0 3.072 2.472M3.82 11a13.7 13.7 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5zm6.853 3.472A7 7 0 0 0 13.745 12H11.91a9.3 9.3 0 0 1-.64 1.539 7 7 0 0 1-.597.933M8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855q.26-.487.468-1.068zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.7 13.7 0 0 1-.312 2.5m2.802-3.5a7 7 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7 7 0 0 0-3.072-2.472c.218.284.418.598.597.933M10.855 4a8 8 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4z" />
                </svg>
              </div>
              <h3 class=" mb-0 fs-4 text-body-emphasis">International Unit</h3>
              <p>Despite the fact that over half of our member base is from the UK. We still have a large portion of
                members that come from all over Europe and beyond.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start hidden">
            <div class="feature">
              <div class="feature-icon mb-2 d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi icon-secondary" viewBox="0 0 16 16">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857q.09.083.176.171a3 3 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01zM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5" />
                  <path
                    d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162z" />
                </svg>
              </div>
              <h3 class=" mb-0 fs-4 text-body-emphasis">Basic ACE Medical</h3>
              <p>Tired of watching a black screen for 15 minutes because you got ArmA'd? Well we certainly are. Which is
                why we've cranked the dial back on the the medical system, making it simpler and easier to get back into
                the fight.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start hidden">
            <div class="feature">
              <div class="feature-icon mb-2 d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi icon-secondary" viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                </svg>
              </div>
              <h3 class=" mb-0 fs-4 text-body-emphasis">Editing & Extras</h3>
              <p>We also host editing sessions for those interested in exploring ArmA 3's 3DEN editor. For missions made
                that are of good quality, we'll also add them to our rotation!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="video-header">
      <h1>Videos</h1>
      <p class="scaleText">Check out some of our recent videos!</p>
    </div>

    <div class="album py-3">
      <div class="container">


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col video-col hidden">
            <div class="card video-card shadow-sm">
              <a href="#">
                <!-- <svg class="bd-placeholder-img card-img-top video-thumb" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <iframe width="100%" height="225" id="video-1-embed" src="" title="YouTube video player" frameborder="0"
                  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </a>
              <div class="card-body">
                <h3 class="card-title"><a href="#" id="video-1-title"></a></h3>
                <p class="card-text" id="video-1-desc"></p>
                <p class="card-author" id="video-1-author"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a target="_blank" rel="noopener noreferrer" id="video-1-button" href=""><button type="button"
                        class="btn btn-sm btn-outline-secondary">View</button></a>
                  </div>
                  <small class="text-body-secondary" id="video-1-duration"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col video-col hidden">
            <div class="card video-card shadow-sm">
              <a href="#">
                <iframe width="100%" height="225" id="video-2-embed" src="" title="YouTube video player" frameborder="0"
                  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </a>
              <div class="card-body">
                <h3 class="card-title"><a href="#" id="video-2-title"></a></h3>
                <p class="card-text" id="video-2-desc"></p>
                <p class="card-author" id="video-2-author"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a target="_blank" rel="noopener noreferrer" id="video-2-button" href=""><button type="button"
                        class="btn btn-sm btn-outline-secondary">View</button></a>
                  </div>
                  <small class="text-body-secondary" id="video-2-duration"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col video-col hidden">
            <div class="card video-card shadow-sm">
              <a href="#">
                <iframe width="100%" height="225" id="video-3-embed" src="" title="YouTube video player" frameborder="0"
                  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </a>
              <div class="card-body">
                <h3 class="card-title"><a href="#" id="video-3-title"></a></h3>
                <p class="card-text" id="video-3-desc"></p>
                <p class="card-author" id="video-3-author"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a target="_blank" rel="noopener noreferrer" id="video-3-button" href=""><button type="button"
                        class="btn btn-sm btn-outline-secondary">View</button></a>
                  </div>
                  <small class="text-body-secondary" id="video-3-duration"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="album mt-2">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="video-header">
              <h1>Channels</h1>
              <p class="scaleText">Check out some of our member's channels!</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col stream-col hidden">
                <div class="card stream-card shadow-sm">
                  <a href="#" id="stream-1-link">
                    <img
                      src="https://static-cdn.jtvnw.net/jtv_user_pictures/77db3741-1d96-4e33-a985-aeba22f53e20-channel_offline_image-1920x1080.jpeg"
                      class="card-img-top w-100" id="stream-1-thumb" alt="Stream Thumbnail">
                  </a>
                  <div class="card-body">
                    <h3 class="card-title"><a href="https://www.twitch.tv/theclandad" id="stream-1-title">TheClanDad</a>
                    </h3>
                    <p class="card-text" id="stream-1-desc">Our resident father figure, keeping us stocked with a
                      plethora of dad jokes!</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a target="_blank" rel="noopener noreferrer" id="stream-1-button"
                          href="https://www.twitch.tv/theclandad"><button type="button"
                            class="btn btn-sm btn-outline-secondary">Watch</button></a>
                      </div>
                      <small class="text-body-secondary" id="stream-1-viewers"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col stream-col hidden">
                <div class="card stream-card shadow-sm">
                  <a href="#" id="stream-2-link">
                    <img
                      src="https://yt3.googleusercontent.com/ytc/AIdro_nH-vZeFVHg7AqOvqHR_KUMMmhIdS_2KtVR_28cNkZGjfg=s160-c-k-c0x00ffffff-no-rj"
                      class="card-img-top" id="stream-1-thumb" alt="Stream Thumbnail"
                      style="max-height: 250px; max-width: 250px;">
                  </a>
                  <div class="card-body">
                    <h3 class="card-title"><a href="https://www.twitch.tv/appletinidl" id="stream-2-title">Versed</a>
                    </h3>
                    <p class="card-text" id="stream-2-desc">Our in-house cinematographer, capturing all the action!</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a target="_blank" rel="noopener noreferrer" id="stream-2-button"
                          href="https://www.youtube.com/@VersedPlaysTM"><button type="button"
                            class="btn btn-sm btn-outline-secondary">Watch</button></a>
                      </div>
                      <small class="text-body-secondary" id="stream-2-viewers"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col stream-col hidden">
                <div class="card stream-card shadow-sm">
                  <a href="#" id="stream-3-link">
                    <img src="/img/flyinghellfish.webp" class="card-img-top" id="stream-1-thumb" alt="Stream Thumbnail">
                  </a>
                  <div class="card-body">
                    <h3 class="card-title"><a href="https://www.twitch.tv/OksmanTV" id="stream-3-title">OksmanTV</a>
                    </h3>
                    <p class="card-text" id="stream-3-desc">Our glorious swedish chef, always cooking up some spicy
                      mission or addon!</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a target="_blank" rel="noopener noreferrer" id="stream-3-button"
                          href="https://www.twitch.tv/OksmanTV"><button type="button"
                            class="btn btn-sm btn-outline-secondary">Watch</button></a>
                      </div>
                      <small class="text-body-secondary" id="stream-3-viewers"></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-center my-5">
      <h2>Ready to jump in to the action?</h2>
      <p class="lead">Hop into our Discord and say Hi!<br>If there's any questions, feel free to ask!</p>
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="/discord">Join Us!</a></button>
    </div>
    </div>

    <script defer>
      var isloggedIn = "<%= loggedin %>"
    </script>
    <script src="/scripts/checkLogged.js"></script>

    <script src="/scripts/popvideos.js"></script>
    <script defer src="/scripts/observer.js"></script>
    <script src="/scripts/loader.js"></script>

    <% if (username == 'undefined' || username == '') { %>
    <script>
      // Function to update the time until the next mission
      function updateTimeUntilMission() {
        const timeUntilMission = document.getElementById('timeUntilMission');
        const now = new Date();
        // const nextMissionTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 18, 0, 0); // Example: 6 PM today

        // Calculate the time until the next mission
        // This is either Sunday at 5 PM or Thursday at 7 PM
        let nextMissionTime;
        const dayOfWeek = now.getDay(); // 0 = Sunday, 1 = Monday, ..., 6 = Saturday

        // If today is either Monday through Wednesday, set the next mission to Thursday at 7 PM
        if (dayOfWeek > 0 && dayOfWeek < 4) {
          nextMissionTime = new Date(now.getFullYear(), now.getMonth(), now.getDate() + (4 - dayOfWeek), 19, 0,
            0); // Thursday at 7 PM
        } else if (dayOfWeek === 0 || dayOfWeek > 4) {

          // If it's past 5 PM on Sunday, set the next mission to the next Thursday at 7 PM
          if (dayOfWeek === 0 && now.getHours() >= 17) {
            nextMissionTime = new Date(now.getFullYear(), now.getMonth(), now.getDate() + (4), 19, 0,
              0); // Thursday at 7 PM
          } else {
            // If today is Sunday or Friday/Saturday, set the next mission to Sunday at 5 PM
            nextMissionTime = new Date(now.getFullYear(), now.getMonth(), now.getDate() + (7 - dayOfWeek), 17,
              0, 0); // Sunday at 5 PM
          }
        } else {
          // If today is Thursday and is past 7 PM, set the next mission to the next Sunday at 5 PM
          if (now.getHours() >= 19) {
            nextMissionTime = new Date(now.getFullYear(), now.getMonth(), now.getDate() + (7 - dayOfWeek), 17,
              0, 0); // Next Sunday at 5 PM
          } else {
            nextMissionTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 19, 0,
              0); // Today at 7 PM
          }
        }

        // 

        const timeDiff = nextMissionTime - now;
        const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
        const hours = Math.floor(timeDiff / (1000 * 60 * 60));
        const minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);

        if (days < 0) {
          timeUntilMission.textContent = `T- ${hours}h ${minutes}m ${seconds}s`;
        } else {
          timeUntilMission.textContent = `T- ${days}d ${hours % 24}h ${minutes}m ${seconds}s`;
        }
      }

      // Update the time every second
      setInterval(updateTimeUntilMission, 1000);
      updateTimeUntilMission(); // Initial call to set the time immediately
    </script>

    <% } %>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>